language: php
sudo: false
php:
    - 7.2

env:
  - DB=mysql SH=bash PACKAGE_VERSION="1.0.*"

services:
  - mysql

before_install:
  - composer self-update
  - if [ "$DEPENDENCIES" == "dev" ]; then perl -pi -e 's/^}$/,"minimum-stability":"dev"}/' composer.json; fi;
  - if [ "$SYMFONY_VERSION" != "" ]; then composer --no-update require symfony/symfony:${SYMFONY_VERSION}; fi;

install: 
  - composer update $COMPOSER_FLAGS

script:
  #- php bin/console doctrine:schema:update -f
  - phpunit

notifications:
  slack:
    on_success: always