language: php
sudo: false
php:
    - 7.1
    
env:
  - DATABASE_HOST=127.0.0.1 DATABASE_NAME=myapp_test DATABASE_USER=travis DATABASE_PASSWORD="" TRAVIS_PULL_REQUEST=true

services:
  - mysql

before_install:
  - composer self-update
  - if [ "$DEPENDENCIES" == "dev" ]; then perl -pi -e 's/^}$/,"minimum-stability":"dev"}/' composer.json; fi;
  - if [ "$SYMFONY_VERSION" != "" ]; then composer --no-update require symfony/symfony:${SYMFONY_VERSION}; fi;

install: 
  - composer install #update $COMPOSER_FLAGS

script:
  - php bin/console doctrine:schema:update -f
  - phpunit

notifications:
  email:
      - ivanmendoza2011@hotmail.com
  # slack:
  #   on_success: always
  #   on_failure: change
  #   rooms:
  #     secure: generated-secret