language: php
# sudo: false
php:
    - 7.1

env:
  - DATABASE_HOST=127.0.0.1 DATABASE_NAME=myapp_test DATABASE_USER=travis DATABASE_PASSWORD=""

services:
  - mysql

addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server

sudo: required

before_install:
  - composer self-update
  # - if [ "$DEPENDENCIES" == "dev" ]; then perl -pi -e 's/^}$/,"minimum-stability":"dev"}/' composer.json; fi;
  # - if [ "$SYMFONY_VERSION" != "" ]; then composer --no-update require symfony/symfony:${SYMFONY_VERSION}; fi;

install: 
  - travis_retry 
  - composer install

script:
  - mysql -e 'create database myapp_test;'
  - php bin/console doctrine:schema:update --dump-sql
  - php bin/console doctrine:schema:update -f
  - phpunit

after_success:
  - ./travis_merge_script.sh

# notifications:
#   email: ivanmendoza2011@hotmail.com
  # slack:
  #   on_success: always
  #   on_failure: change
  #   rooms:
  #     secure: generated-secret